
/* SELECTEURS GENERALS */
* {
    margin: 0; padding: 0; white;
}
/* BODY */
body {
    background-image:url(images/fondmakeup.jpg);
    background-attachment:fixed;
    height: 100%;
    width: 100%;
}
/* HEADER */
header {
    font-family: 'Lobster Two', cursive;
    font-size: 2rem;
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    text-align:center; 
    margin: 3.5rem;
}

/* SECTION (button and input) */
section {
    font-family: Impact; 
    text-align: center;
    margin: 2rem;
    border-color: blueviolet;
}

/* MAIN (list elements) */
main {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left; 
    margin: 2rem;
}

/* FOOTER */
footer {
    text-align: center; 
    font-family: 'Lobster Two', cursive;
    font-size: 1rem;
    color: whitesmoke;
    background-color: palevioletred;
    margin-block: 1rem;
}